<div *ngIf="loaded">

  <form [formGroup]="workoutExerciseForm">

    <div class="row">
      <div class="col-sm-5">
        <mat-form-field>
          <mat-label>Step Number</mat-label>
          <input matInput formControlName="stepNumber" />
        </mat-form-field>
      </div>
      <div class="col-sm-7">
        <mat-form-field>
          <mat-label>Exercise</mat-label>
          <mat-select formControlName="exerciseId">
            <mat-option *ngFor="let exercise of exercises" value="{{exercise.id}}">{{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Weight Goal</mat-label>
          <input matInput formControlName="weightGoal" />
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Time Goal</mat-label>
          <input matInput formControlName="timeGoal" />
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Set Goal</mat-label>
          <input matInput formControlName="setGoal" />
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Rep Goal</mat-label>
          <input matInput formControlName="repGoal" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <mat-form-field>
          <mat-label>Notes</mat-label>
          <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="notes"></textarea>
        </mat-form-field>
      </div>
    </div>

    <input type="hidden" formControlName="id" />
    <input type="hidden" formControlName="userId" />
    <input type="hidden" formControlName="workoutId" />
    <input type="hidden" formControlName="modified" />
    <input type="hidden" formControlName="created" />

  </form>

</div>



<p><b>Step Number:</b> {{workoutExercise?.stepNumber}}</p>
<p><b>Exercise:</b> {{workoutExercise?.exerciseId}}</p>
<p><b>Weight Goal:</b> {{workoutExercise?.weightGoal}}</p>
<p><b>Time Goal:</b> {{workoutExercise?.timeGoal}}</p>
<p><b>Set Goal:</b> {{workoutExercise?.setGoal}}</p>
<p><b>Rep Goal:</b> {{workoutExercise?.repGoal}}</p>
<p><b>Notes:</b> {{workoutExercise?.notes}}</p>

<button mat-fab aria-label="Save Exercise" (click)="onSave()" class="cta-bottom-right">
  <mat-icon aria-hidden="false">check</mat-icon>
</button>
