<div *ngIf="loaded">

  <h1>Workouts</h1>

  <p *ngIf="workouts.length == 0">Create a workout to get started.</p>

  <table *ngIf="workouts.length > 0" mat-table [dataSource]="workouts" class="mat-elevation-z8 clickable">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let workout"> {{workout.name}} </td>
      </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="workoutDate">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let workout"> {{workout.workoutDate}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let workout">
          <a role="button" (click)="copyWorkout(workout.id)">
            <mat-icon aria-hidden="false">content_copy</mat-icon>
          </a>
          &nbsp;
          <a role="button" (click)="deleteWorkout(workout.id)">
            <mat-icon aria-hidden="false">delete</mat-icon>
          </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="{{row.id}}"></tr>
    </table>

</div>

<button mat-fab aria-label="Start Workout" routerLink="/workouts/new" class="cta-bottom-right">
  <mat-icon aria-hidden="false">add</mat-icon>
</button>
