<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>{{workout?.name}}</h1>
    </div>
    <div class="col-sm-4">
      <h3>{{workout?.workoutDate | date:'M/d/yyyy H:mm a'}}</h3>
    </div>
  </div>
</div>

<p *ngIf="workout?.notes">{{workout?.notes}}</p>

<app-workout-exercises></app-workout-exercises>

<!-- <button mat-fab aria-label="Add Exercise" routerLink="/workoutExercises/{{workout?.id}}/new" class="cta-bottom-right">
  <mat-icon aria-hidden="false">add</mat-icon>
</button> -->
