@import "../../assets/styles/variables";

// .mat-expansion-panel-header {
//   position: relative;

  .exercise {
    // min-height: 40px;
    // align-items: center;
    // z-index: 1;
    margin: 12px 0 24px;

    .title-row {
      display: flex;
      align-content: center;
      padding: 10px 0;
      width: 100%;

      .step-number {
        font-weight: bold;
        // font-size: 30px;
        margin-right: 8px;
        flex: none;

        &::before {
          content: '#';
        }
      }

      .title {
        flex: none;
      }

      .edit-exercise {
        margin-left: 8px;
      }

      .details {
        flex: 1;
        text-align: right;
      }
    }

    .sets {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .set {
        flex: 1;
        display: flex;
        justify-content: center;
        margin: 10px;

        // .step-number,
        .number-checkbox {
          font-weight: bold;
          display: inline-block;
          background: $u-accent;
          color: white;
          width: 40px;
          line-height: 40px;
          height: 40px;
          text-align: center;
          border-radius: 50%;
        }

        .number-checkbox {
          cursor: pointer;
          background: rgba(0, 0, 0, .1);
          color: black;

          &:hover {
            background: rgba(0, 0, 0, .15);
          }

          &.checked {
            background: red;
            color: white;
          }
        }
      }
    }

    .progress-bar {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      max-width: 0;
      background-color: $u-accent;
      opacity: .25;
      z-index: -1;
      transition: max-width 1s;
    }
  }
// }
